* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tetris {
    display: flex;
    padding: 5px;
    width: 276px;
    font-family: sans-serif;
    text-align: center;
    background-color: #b8b898;
    transform: scale(0.735);
}